{
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "This application provides a front gateway allowing you\nto interact with multiple GRPC microservices hosted\nin Google Cloud",
        "title": "Gateway Front API",
        "termsOfService": "No terms",
        "contact": {
            "name": "Support",
            "email": "florian.charpentier67@gmail.com"
        },
        "license": {
            "name": "MIT",
            "url": "http://opensource.org/licenses/MIT"
        },
        "version": "0.0.1"
    },
    "host": "api.dadard.fr",
    "basePath": "/",
    "paths": {
        "/download/url": {
            "post": {
                "description": "Execute the Youtube-DL job using Cloud Task",
                "consumes": [
                    "application/json"
                ],
                "summary": "Download and save a new music file",
                "parameters": [
                    {
                        "description": "Parameters to send to job",
                        "name": "payload",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/controller.downloadJobParam"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            }
        },
        "/music-researcher/search": {
            "get": {
                "description": "Searchs for music in Spotify API",
                "consumes": [
                    "application/json"
                ],
                "summary": "Music search",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Main user query",
                        "name": "q",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Genre list",
                        "name": "genre",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Limit result count",
                        "name": "limit",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        }
    },
    "definitions": {
        "controller.downloadJobParam": {
            "description": "Param to send to the download job",
            "type": "object",
            "properties": {
                "meta": {
                    "description": "metadata infos to format the file",
                    "type": "object",
                    "properties": {
                        "album": {
                            "description": "the album",
                            "type": "string"
                        },
                        "artist": {
                            "description": "the artist",
                            "type": "string"
                        },
                        "track": {
                            "description": "the music track",
                            "type": "string"
                        }
                    }
                },
                "url": {
                    "description": "the youtube url to use for download",
                    "type": "string"
                }
            }
        }
    }
}